<!DOCTYPE html>
<html>
	<head>
		<style>
			.table{
				border: 1px solid black;
				border-collapse: collapse;
			}
		</style>
		{%if isLecturer%}
			<title>Student Grades</title>
		{%else%}
			<title>My Grades</title>
		{%endif%}
	</head>
	<body>
		{%if isLecturer%}
			<h1>Student Grades</h1>
			
			<form method="get" action="{%url 'grades'%}">
				<label>Student:
					<select name="student">
						<option value="">All</option>
						{%for student in students%}
							<option value="{{student.username}}">{{student.username}}</option>
						{%endfor%}
					</select>
				</label>
				<button type="submit">Filter</button>
			</form>
		{%else%}
			<h1>My Grades</h1>
		{%endif%}

		<table class="table">
			<tr class="table">
				{%if isLecturer%}
					<th class="table">User</th>
				{%endif%}
				<th class="table">Subject</th>
				<th class="table">Grade</th>
				<th class="table">Percentage</th>
			</tr>
			{%for grade in grades%}
				<tr>
					{%if isLecturer%}
						<td class="table">{{grade.user}}</td>
					{%endif%}
					<td class="table">{{grade.subject}}</td>
					<td class="table">{{grade.grade}}</td>
					<td class="table">{{grade.percentage}}</td>
				</tr>
			{%empty%}
				<tr>
					<td colspan="3">No Grades Found</td>
				</tr>
			{%endfor%}
		</table>
		<br>
		{%if isLecturer%}
			<a href="{%url 'createGrade'%}">Add Grade</a>
			<br>
		{%endif%}
		<a href="{%url 'index'%}">Back To Home</a>
	</body>
</html>
