<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Login</title>
	</head>
	<body>
		<h2>Homepage</h2>
			{%if user.username%}
				<p>Hello {{user.username}}, You Are A {{group}}</p>
				{%if group == "Student"%}
					<a href="{%url 'fees'%}">View Fees</a>
					<br>
				{%endif%}
				{%if group != "Help Desk Employee"%}
					<a href="{%url 'grades'%}">View Grades</a>
					<br>
				{%endif%}
				{%if group != "Lecturer"%}
					<a href="{%url 'tickets'%}">Tickets</a>
					<br>
				{%endif%}
				
				<br>
				<a href="{%url 'logout'%}">Logout</a>
			{%else%}
				<p>Hello, You Havent Logged In Yet</p>
				<a href="{%url 'login'%}">Login</a>

			{%endif%}
	</body>
</html>
